{% extends "base.html" %} {% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }} {% set posts = get_section(path="_index.md") %} {%
if posts.pages %}
<ul class="posts">
    {% for page in posts.pages | sort(attribute="date") | reverse %}
    <li>
        {% if page.taxonomies and page.taxonomies.tags and "talk" in
        page.taxonomies.tags %}
        <img src="/video.png" class="talk" />
        {% endif %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
        - {{ page.date | date(format="%B %d, %Y") }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No posts yet!</p>
{% endif %} {% endblock content %}
